.title {
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

#meme-generator {
  display: flex;
  flex-direction: column;
}

#memes {
  display: flex;
  flex-wrap: wrap;
  align-items: center
}

.meme {
  position: relative;
  flex: 0 0 450px;
  padding: 3px;
  margin: 3px;
}

.meme-top, .meme-bot {
  color: white;
 
  font-family: Impact, Arial, Helvetica, sans-serif;
  font-size: 2em;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 400px;
  text-align: center;
}

.meme-top {
  top: 10px; 
}

.meme-bot {
  bottom: 10px;
}

.meme-img {
  display: block;
  width: 100%;
}