.meme-top {
 

}

.meme-bot {
  position: absolute;
  bottom: 0px;
}

.meme {
  position: relative;
  /* max-height: 150px;
  max-width: 150px; */
}

.meme-img {
  max-height: 150px;
  max-width: 150px;
}