/* body {
  font-family:Verdana, Geneva, sans-serif; font-size:10pt; 
}

.landing {
  display: flex;
  height: 100%
}

.fifty {
  width: 50%
}

 */

 .intro {
  display:flex;
  flex-shrink: 0;
  flex-direction: column;
  align-content: center
  
}

.flowers {
  width: 100%

}

.fa {
  padding: 10px;
  font-size: 140px;
  /* width: 40px; */
  text-align: center;
  text-decoration: none;
  
}

.fa-github-square {
  background: black;
  color: white
}

.fa-instagram {
  background: blue;
  color: white
}

.fa-mail-reply {
  background: red;
  color: white
}