body {
  font-family:Verdana, Geneva, sans-serif; font-size:10pt; 
}

.landing {
  display: flex;
  height: 100%
}

.fifty {
  width: 50%
}

.intro {
  /* display:flex;
  flex-shrink: 0;
  justify-content: center;
  flex-direction: column */
}

.flowers {
  width: 100%
}

.fa {
  padding: 20px;
  font-size: 70px;
  /* width: 40px; */
  text-align: center;
  text-decoration: none;
  
}

.fa-github-square {
  background: black;
  color: white
}

.fa-instagram {
  background: rgb(255, 196, 3);
  color: white
}

.fa-mail-reply {
  background: red;
  color: white
}